{
    "presets": [
      ["env", {
        "targets": {
          "browsers": true
        }
      }]
    ],
    "plugins": [
      ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }]
    ]
  }
  